#container {
  width: auto;
  padding: 20px;
  border: 1px solid #bcbcbc;
}

.box {
  width: 200px;
  height: 300px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #bcbcbc;
  cursor: pointer;
}
.box img {
  width: 100%;
  height: 200px;
}

.box img:hover {
  border: 1px solid;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.left {
  float: left;
}

.right {
  float: right;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
  overflow: hidden;
}

header div {
  margin-right: 5px;
}

#sidebar {
  width: 10%;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #bcbcbc;
}

#content {
  width: 80%;
  padding: 20px;
  margin-bottom: 20px;
  float: right;
  border: 1px solid #bcbcbc;
}

footer {
  clear: both;
  padding: 20px;
  border: 1px solid #bcbcbc;
}

.detail {
  width: 100%;
  overflow: hidden;
}

.menu {
  width: 50px;
  text-align: center;
  border-top: 2px solid brown;
  border-left: 1px solid #bcbcbc;
  margin-bottom: 5px;
}

.area {
  width: 100%;
}

.area textarea{
  margin-left: 5px;
  width: 89%;
  height: 50px;
}

.area button {
  width: 10%;
  height: 55px;
}

.comment {
  padding: 10px;
  margin: 5px;
  border: 1px solid #bcbcbc;
  overflow: hidden;
}

.history-container {
  overflow: hidden;
}